* {
    padding: 0px;
    margin: 0px;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.results {
    max-height: 200px;
    overflow: scroll;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1.25em;
    overflow: hidden;
}

.sigma-parent {
    position: relative;
    height: 100%;
}

.sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #eee;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas#sigma_bg_1 {
    display: none;
}

#attributepane {
    display: block;
    display: none;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    right: 0;
    width: 350px;
    background-color: #fff;
    margin: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 1px solid #ccc;
    padding: 0px 18px 0px 18px;
    z-index: 1;
}

#attributepane .text {
    height: 100%;
}

#attributepane .headertext {
    color: #000;
    margin-bottom: 5px;
    height: 14px;
    border-bottom: 1px solid #999;
    padding: 0px 0 10px 0;
    font-size: 30px;
    font-weight: bold;
}

#attributepane .returntext em {
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: -91px -13px;
    float: left;
}

#attributepane .returntext span {
    padding-left: 5px;
    display: block;
}

#attributepane .close {
    padding-left: 14px;
    margin-top: 10px;
}

#attributepane .close .c {
    border-top: 2px solid #999;
    padding: 10px 0 14px 0;
}

#attributepane .close em {
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -11px -13px;
    display: block;
    width: 24px;
    height: 16px;
    float: left;
}

#attributepane .close span {
    display: block;
    width: 151px;
    float: left;
}

#attributepane .nodeattributes {
    display: block;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #999;
}

#attributepane .name {
    font-size: 14px;
    cursor: default;
    padding-bottom: 10px;
    padding-top: 18px;
    font-weight: bold;
}

#attributepane .data {
}

#attributepane .data .plus {
    background-repeat: no-repeat;
    background-image: url('../images/sprite.png');
    background-position: -171px -122px;
    width: 22px;
    height: 20px;
    float: left;
    display: block;
}

#attributepane .link {
    padding: 0 0 0 18px;
}

#attributepane .link li {
    list-style: none;
    padding-top: 2px;
    margin: 2px 0;
    cursor: pointer;
}

#attributepane .p {
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12px;
}

.left-close {
    background-image: url('../images/fancybox_sprite.png');
    margin-left: -37px;
    z-index: 99999;
    cursor: pointer;
    padding-left: 31px;
    line-height: 36px;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 14px;
}

#developercontainer {
    margin-left: 25px;
    margin-bottom: 25px;
    position: fixed;
    bottom: 0;
}

#jisc {
    width: 71px;
    height: 56px;
    background-image: url('../images/jisc-logo-small.png');
    background-repeat: no-repeat;
    display: inline-block;
}

#jisc span {
    display: none;
}

#oii {
    width: 227px;
    height: 56px;
    background-image: url('../images/oii_text.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
}

#oii span {
    display: none;
}

#maintitle {
    width: 100%;
    height: 72px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#maintitle h1 {
    display: none;
}

#mainpanel {
    margin-top: 30px;
    margin-left: 25px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    z-index: 20;
    position: fixed;
    top: 0;
}

#mainpanel .b1 {
    padding: 0px 0 0 0;
}

#mainpanel .col {
    width: 240px;
    padding: 18px 18px 18px 18px;
    margin: 0;
    height: 85vh;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#mainpanel .col::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#title {
    font-weight: bold;
}

#titletext {
    padding: 6px 0 10px 0;
}

#info {
    padding-bottom: 15px;
}

#search {
    border-top: 1px solid #999;
    padding: 20px 0 0px 2px;
}

#search input[name='search'] {
    border: 1px solid #999;
    background-color: #fff;
    padding: 5px 7px 4px 7px;
    width: 190px;
    height: 30px;
    color: #000;
}

#search input.empty {
    color: #000;
}

#search .state {
    box-sizing: border-box;
    float: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(166, 231, 0);
    transition: all 300ms;
    width: 40px;
    height: 30px;
}

#search .state:hover {
    background-color: rgb(124, 173, 0);
}

#search .state.searching {
    background-position: -11px -13px;
}

#search .results {
    display: none;
    /*	border: 1px solid #999;*/
    margin: 6px;
    /*height: 150px;*/
    overflow-y: scroll;
    overflow-x: hidden;
}

#search .results b {
    padding-left: 2px;
}

#search .results a {
    padding: 1px 2px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

#search .results a:hover {
    background-color: #999;
    color: #fff;
}

#attributeselect {
    margin: 20px 0 13px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#attributeselect .select {
    border: 1px solid #999;
    padding: 5px 7px 4px 7px;
    color: #fff;
    cursor: pointer;
    background-color: #999;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: 200px -144px;
}

#attributeselect .close {
    background-position: 200px -8px;
}

#attributeselect .list {
    display: none;
    border: 1px solid #999;
    padding: 6px;
    height: 150px;
    width: 226px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #999;
    /*position: relative;
		left: 240px;
		bottom: 164px;*/
    position: absolute;
    margin-left: 240px;
    margin-top: -164px;
    color: white;
}

#attributeselect .list a {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #fff;
}

#attributeselect .list a:hover {
    background-color: #fff;
    color: #000;
}

.link h2 {
    font-size: 1em;
    padding-top: 1em;
}

#mainpanel dl {
    padding-bottom: 10px;
}

#mainpanel h2 {
    font-size: 14px;
}

#mainpanel dt {
    width: 20px;
    height: 20px;
    float: left;
    background-repeat: no-repeat;
    background-image: url('../images/sprite.png');
}

#legend dl {
}

#legend .note {
    margin-bottom: 8px;
}

#mainpanel .regions {
    background-position: -171px -13px;
}

#mainpanel .download {
    background-position: -51px -13px;
}

#mainpanel .moreinformation {
    background: url('../images/info.png');
    background-repeat: no-repeat;
    margin-left: 5px;
}

#copyright {
    margin: 0 auto;
    position: fixed;
    right: 40px;
    bottom: 25px;
    z-index: 0;
}

#copyright a {
    color: #000;
}

#copyright .explanation {
    display: none;
}

#zoom {
    z-index: 999;
    position: fixed;
    left: 45%;
    bottom: 25px;
    margin: 0 auto;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

#zoom .z {
    background: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #ccc;
    float: left;
    margin-right: 4px;
    background-repeat: no-repeat;
}

#zoom .z[rel='center'] {
    background-image: url('../images/zoom_reset.png');
    background-position: center;
}

#zoom .z[rel='in'] {
    background-image: url('../images/zoom_in.png');
    background-position: center;
}

#zoom .z[rel='out'] {
    background-image: url('../images/zoom_out.png');
    background-position: center;
}

.line {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

#information {
    display: none;
    background: #fff;
    padding: 1px 10px 10px 10px;
}

#information h3 {
    margin: 14px 0 4px 0;
}

#information p {
    margin: 0 0 4px 0;
}

#information .button {
    width: 14px;
    height: 14px;
    background-image: url('../images/sprite.png');
    border: 1px solid #999;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

#information .button span {
    display: none;
}

#information .button.plus {
    background-position: -91px -122px;
}

#information .button.moins {
    background-position: -131px -122px;
}

#minify {
    background-color: #fff;
    padding: 4px 4px 4px 25px;
    cursor: pointer;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -167px -118px;
    position: absolute;
    top: 65px;
    left: 15px;
    display: none;
}

#minifier {
    position: absolute;
    width: 20px;
    height: 16px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -45px -147px;
    cursor: pointer;
    display: none;
}

.description {
    display: flex;
    flex-direction: column;
}
.description > h1 {
    font-size: 23px;
    margin-bottom: 15px;
}

.box > h2 {
    margin-top: 13px;
}

.legend__contents {
    display: flex;
    align-items: center;
    margin: 7px 0;
    margin-left: 6px;
}

.legend__contents > img {
    margin-right: 5px;
}

.clustering {
    width: 110px;
    font-size: 12px;
}

.recipe_image {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    box-sizing: border-box;
    background-color: black;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
}

.info__container {
    margin: 3px 0;
    margin-left: 10px;
    position: relative;
}

.info__name {
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 30px;
    line-height: 33px;
    font-weight: 800;
}

.info__label {
    line-height: 22px;
    font-size: 16px;
    font-weight: 800;
    margin-right: 10px;
}

.info__name {
    transition: color 300ms;
}

.info__name:hover {
    color: orange;
}

.info__container.degree {
    display: flex;
    align-items: center;
}

.more_info {
    background-color: rgb(219, 219, 219);
    border: 1px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.more_info > img {
    width: 6px;
}

.more_info.connection {
    position: absolute;
    top: 50px;
    right: 137px;
}

.connections_a {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.connections_name {
    font-size: 13px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.connections_a:hover {
    color: green;
    font-weight: bold;
}

.message_connections {
    position: absolute;
    bottom: 100px;
    left: -400px;
    right: inherit;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    font-size: 6px;
    width: 400px;
    transition: all 300ms;
    visibility: visible;
}

.hide {
    display: none;
}
.invisible {
    opacity: 0;
    visibility: hidden;
}

.message_connections > img {
    width: 350px;
}

.membership {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 260px;
}

.membership > a:hover {
    color: green;
    font-weight: bold;
}

.membership:hover .popUp {
    visibility: visible;
    opacity: 1;
    transition: all 300ms;
}

.membership .popUp {
    cursor: auto;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: white;
    z-index: 1;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    color: black;
    top: 20px;
    left: 20px;
}

.scenario_info {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    align-items: center;
}

.ranking_btn {
    cursor: pointer;
    padding: 0 2px;
    width: 50px;
    height: 45px;
    margin-left: 2px;
}

.group_label {
    position: absolute;
    display: flex;
    top: 30px;
    left: 50%;
    justify-content: center;
    transform: translateX(-50%);
    max-width: 800px;
    min-width: 300px;
    flex-wrap: wrap;
}

.label_content {
    font-size: 9px;
    margin: 0px 3px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: -1px;
}
